/* Start Typography */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.roboto {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.poppins {
  font-family: "Poppins", serif;
  font-style: normal;
}

.nunito {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2 {
  font-family: "Poppins", serif;
  font-style: normal;
  margin: 0;
}

h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
}

p {
  font-family: "Nunito", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* End Typography */

/* Start Variables */
:root {
  /* Start Colors */
  --dark-purple: #714bec;
  --light-purple: #ac61f6;
  --yolk: #eddba9;
  --gray-background: #f6f6f6;
  --gray-text: #9398a3;
  --light-gray-text: #c0c0c0;
  --yellow: #fbe22e;

  /* Others */
  --main-trans: 0.3s;
  --section-padding: 60px;
}
/* End Variables */

/* Start Global Rules */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  margin-inline: auto;
  padding-inline: 15px;
}
/* End Global Rules */

/* Start Container Media Queries */
@media (min-width: 769px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 1600px) {
    .container {
        width: 1560px;
    }
}
/* End Container Media Queries */
