/* Start Header */
.landing-blob {
    position: absolute;
    top: -22dvh;
    left: -5vw;
    z-index: -1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

header h1 {
    color: white;
}

header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav a {
    color: black;
    transition: var(--main-trans);
}

header nav a:first-of-type {
    text-decoration: underline;
}

header nav a:first-of-type:hover {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

header nav a:last-of-type {
    border-radius: 20px;
    padding: 10px 30px;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: #f5f8fe;
}

header nav a:last-of-type:hover {
    background-color: #e3e6eb;
}

.burger-icon {
    font-size: 2rem;
    transition: var(--main-trans);
}
/* Finish Header */

/* Start Hero Section */
.hero .container {
    height: calc(100dvh - 100px);
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 60px;
    position: relative;
}

.purple-dots {
    position: absolute;
    right: 0;
    bottom: 50px;
    z-index: -2;
}

.hero .container .card {
    position: absolute;
    left: 10px;
    bottom: 150px;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(99, 99, 99, 0.288);
    padding: 40px 60px 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.special-picture {
    border-radius: 50%;
    background-color: var(--yellow);
    border: 20px solid #fff2f0;
    width: 140px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.special-picture img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
}

.special-picture::after {
    content: "";
    position: absolute;
    width: 120px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid transparent;
    border-right-color: var(--dark-purple);
    border-top-color: rgb(191, 41, 196);
    rotate: 45deg; 
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.hero .card h2 {
    font-weight: 500;
    margin-bottom: 8px;
}

.hero .card p {
    color: var(--gray-text);
}

.hero .person {
    flex-basis: 50%;
}

.hero .person img {
    max-width: 80%;
    transform: translateY(-50px);
}

.hero .info {
    flex-basis: 50%;
}

.hero .info .main-section-header {
    width: 80%;
    margin-bottom: 50px;
}

.hero form {
    position: relative;
    margin-bottom: 60px;
}

.hero form input {
    width: 76%;
    outline: none;
    border: none;
    box-shadow: 0 0 15px 4px rgba(219, 219, 219, 0.4);
    border-radius: 10px;
    padding: 30px;
    transition: var(--main-trans);
}

.hero form input:focus {
    box-shadow: 0 0 15px 4px hsla(254, 81%, 61%, 0.384);
}

.hero form input::placeholder {
    color: var(--light-gray-text);
}

.hero form button {
    border: none;
    outline: none;
    padding: 20px;
    color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-purple);
    border-radius: 10px;
    position: absolute;
    height: 56px;
    bottom: 11px;
    right: 26%;
    transition: var(--main-trans);
    cursor: pointer;
    font-size: 1.4rem;
}

.hero form button:hover {
    background-color: #6343cc;
    color: white;
}
/* End Hero Section */

/* Start Companies Section */
.companies .container {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.companies p {
    color: var(--gray-text);
}

.companies .logos {
    display: flex;
    align-content: center;
    gap: 60px;
}

.companies .comp {
    width: 80px;
    display: flex;
}

.companies .comp img {
    max-width: 100%;
}
/* End Companies Section */

/* Start Products Section */
.sell-products {
    padding-top: calc(var(--section-padding) + 60px);
    /* padding-bottom: calc(var(--section-padding) + 60px); */
    padding-bottom: var(--section-padding);
}

.sell-products .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.special-article {
    flex-basis: 23%;
}

.special-article h2 {
    color: var(--yellow);
    margin-bottom: 30px;
    font-weight: 300;
}

.special-article h1 {
    line-height: 1.2;
}

.special-article p {
    margin-top: 20px;
    margin-bottom: 60px;
    line-height: 1.6;
}

.sell-products .products {
    display: flex;
    align-items: center;
    gap: 30px;
    position: relative;
}

.sell-products .products .prod-card {
    background-color: white;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(99, 99, 99, 0.288);
    width: 200px;
    height: 200px;
    padding: 20px;
    z-index: 2;
    transition: var(--main-trans);
}

.sell-products .prod-img {
    margin-inline: auto;
    translate: 0 -50%;
    width: 100%;
}

.sell-products .prod-img img {
    max-width: 100%;
}

.sell-products .prod-info {
    translate: 0 -80px;
}

.sell-products .prod-info > p {
    text-align: center;
    margin-bottom: 20px;
}

.sell-products .prod-info > span {
    display: block;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    background-color: var(--gray-background);
}

.sell-products .prod-info .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sell-products .prod-info .flex p {
    color: var(--yellow);
    font-weight: 900;
}

.sell-products .prod-info p span {
    font-weight: normal;
}

.sell-products .prod-info .flex i {
    transition: var(--main-trans);
    cursor: pointer;
}

.sell-products .prod-info .flex i:hover {
    color: var(--yellow);
}

.sell-products .prod-card:not(:last-of-type) {
    translate: 0 -35%;
}

.sell-products .prod-card:last-of-type {
    translate: 0 35%;
}

.sell-products .prod-card:not(:last-of-type):hover {
    box-shadow: 0 0 15px 4px hsla(44, 92%, 70%, 0.5);
}

.sell-products .prod-card:last-of-type:hover {
    box-shadow: 0 0 15px 4px hsla(254, 81%, 61%, 0.384);
}

.sell-products .products::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--yolk);
    width: 250px;
    aspect-ratio: 1;
    top: -85%;
    right: 220px;
}

.sell-products .products::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: #ab9efb;
    width: 220px;
    aspect-ratio: 1;
    top: -5%;
    right: -40px;
}
/* End Products Section */

/* Start Businesses Section */
.businesses {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
}

.businesses .businesses-blob {
    position: absolute;
    top: -50px;
    left: -500px;
    width: 900px;
    z-index: -1;
}

.businesses .businesses-blob img {
    max-width: 100%;
}

.businesses .container {
    padding-top: var(--section-padding);
    padding-bottom: calc(60px + var(--section-padding));
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.businesses .container .business-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 8px 12px 6px rgba(201, 201, 201, 0.288);
    padding: 15px;
    transition: var(--main-trans);
}

.businesses .container .business-card:hover {
    box-shadow: 0 0 15px 4px hsla(44, 92%, 70%, 0.5);
}

.businesses .business-card:hover .img img {
    scale: 1.1;
}

.businesses .business-card .img {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.businesses .business-card .img img {
    transition: 2s;
    width: 100%;
    border-radius: 10px;
}

.businesses .business-card h2 {
    margin: 30px 10px;
    font-weight: 400;
}

.businesses .business-card p {
    color: #a8a8a8;
    margin: 30px 10px;
    line-height: 1.6;
    font-weight: 300;
}
/* End Businesses Section */

/* Start Increase Sales Section */
.increase-sales {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.increase-sales .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.increase-sales .special-article {
    flex-basis: 30%;
}

.increase-sales .special-article p {
    width: 80%;
}

.increase-sales .container .stats {
    flex-basis: 50%;
}

.increase-sales .stats {
    position: relative;
}

.increase-sales .stats .card {
    border-radius: 15px;
    background-color: white;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 12px 6px rgba(201, 201, 201, 0.3);
    gap: 30px;
    width: 70%;
}

.increase-sales .stats::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #4bb5d8;
    width: 38%;
    aspect-ratio: 1;
    z-index: -1;
    top: -12%;
    left: -15%;
}

.increase-sales .stats::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    background-color: #54c883;
    width: 32%;
    aspect-ratio: 1;
    z-index: -1;
    bottom: -10%;
    right: 17%;
}

.increase-sales .special-picture {
    margin: 0;
}

.increase-sales .stats .card:first-of-type {
    justify-content: flex-start;
    margin-bottom: 100px;
    translate: -6% 0;
}

.increase-sales .stats .card:last-of-type {
    justify-content: flex-end;
    translate: 6% 0;
}

.increase-sales .card .info h1 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.increase-sales .info h1 i {
    color: var(--dark-purple);
    font-size: 1.3rem;
}

.increase-sales .info p {
    font-weight: 500;
}

.increase-sales .info p span {
    color: #61d491;
    font-weight: 900;
}
/* End Increase Sales Section */

/* Start Write Us Section */
.write-us {
    padding-top: var(--section-padding);
    /* padding-bottom: var(--section-padding); */
    position: relative;
    overflow: hidden;    
}

.write-us-blob {
    position: absolute;
    right: -10%;
    top: 0;
    z-index: -1;
}

.write-us .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.write-us .container form {
    background-color: white;
    box-shadow: 0 2px 12px 6px rgba(192, 192, 192, 0.411);
    padding: 60px;
    text-align: center;
    border-radius: 10px;
    transition: var(--main-trans);
}

.write-us .container form:focus-within {
    box-shadow: 0 0 10px 3px hsla(254, 81%, 61%, 0.274);
}

.write-us form h1 {
    margin-bottom: 60px;
}

.write-us form input,
.write-us form textarea {
    border-radius: 30px;
    background-color: #f6f6f6;
    padding: 20px 30px;
    border: none;
    outline: 0;
    width: 100%;
    transition: var(--main-trans);
}

.write-us form input:focus,
.write-us form textarea:focus {
    box-shadow: 0 0 10px 3px hsla(254, 81%, 61%, 0.384);
}

.write-us form textarea {
    height: 180px;
    margin: 20px auto 40px;
    resize: none;
}

.write-us button {
    border-radius: 50px;
    background-image: linear-gradient(to right, var(--light-purple), var(--dark-purple));
    color: white;
    border: none;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    margin-inline: auto;
    letter-spacing: 1px;
    font-weight: 400;
    cursor: pointer;
    transition: var(--main-trans);
}

.write-us button:hover {
    box-shadow: 0 0 15px 4px hsla(254, 81%, 61%, 0.384);
}

.write-us .picture {
    max-width: 50%;
}

.write-us .picture img {
    max-width: 100%;
}
/* End Write Us Section */

/* Start Footer */
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-image: linear-gradient(to right, var(--light-purple), var(--dark-purple)); */
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h3 {
    color: white;
    font-weight: 100;
    font-size: 1rem;
}
/* End Footer */

/* Start Mobile Menu */
.mobile-menu {
    position: fixed;
    top: -100%;
    background-color: rgb(247, 247, 247);
    left: 15px;
    width: calc(100vw - 30px);
    height: calc(100dvh - 120px);
    box-shadow: 0 0 15px 4px rgba(49, 49, 49, 0.4);
    border-radius: 10px;
    z-index: 1;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    transition: var(--main-trans);
}

.mobile-menu > a {
    color: black;
    padding: 15px 30px;
    background-color: var(--gray-background);
    border-radius: 30px;
    /* box-shadow: 0 0 5px 1px rgba(172, 172, 172, 0.253); */
}

.mobile-menu > span {
    display: block;
    background-color: var(--light-gray-text);
    width: 100%;
    height: 1px;
    border-radius: 10px;
    margin: 30px 0;
}

.rotate {
    rotate: 360deg;
}

.show-mobile-menu {
    top: 97px;
}

.disable-scrolling {
    overflow: hidden;
}
/* End Mobile Menu */

/* Start Media Queries */
@media (min-width: 769px) {
    .mobile {
        display: none;
    }
}

@media (max-width: 1600px) {
    .increase-sales {
        padding-top: 0;
    }

    .businesses {
        padding-bottom: 0;
    }

    .increase-sales .container {
        justify-content: space-evenly;
    }

    .write-us-blob {
        right: -40%
    }
}

@media (max-width: 1199px) {
    .main-section-header {
        font-size: 3.5rem;
    }

    .special-article .main-section-header {
        width: 100%;
    }

    .hero .person img {
        max-width: 100%;
    }

    .businesses .businesses-blob {
        top: 0;
    }

    .increase-sales .container .stats {
        flex-basis: 60%;
    }

    .write-us-blob {
        right: -65%
    }
}

@media (max-width: 991px) {
    .hero .person,
    .hero .card {
        display: none !important;
    }

    .special-article, .hero .info {
        flex-basis: 100%;
    }

    .hero .info .main-section-header {
        width: 100%;
    }

    .main-section-header {
        font-size: 2.8rem;
        text-align: center;
        line-height: 1.1;
    }

    .landing-blob {
        left: -33vw;
    }

    .hero form {
        margin-bottom: 100px;
    }

    .hero form input {
        width: 100%;
        box-shadow: 0 0 15px 4px rgba(49, 49, 49, 0.4);
    }

    .hero form button {
        right: 10px;
    }

    .sell-products {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }

    .sell-products .container {
        flex-direction: column;
        gap: 100px;
    }

    .special-article {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .sell-products .products {
        flex-direction: column;
        gap: 120px;
    }

    .sell-products .products .prod-card {
        translate: initial;
    }

    .sell-products .products::after {
        top: 46%;
        right: -12px;
    }

    .sell-products .products::before {
        top: -13%;
        right: -12%;
    }

    .increase-sales .container {
        flex-direction: column;
        gap: 120px;
    }

    .increase-sales .special-article {
        order: -1;
    }

    .increase-sales .stats .card {
        translate: 0 !important;
        width: 100%;
    }

    .increase-sales .stats .card:first-of-type {
        margin-bottom: 30px;
    }

    .increase-sales .stats::before {
        left: 0;
    }

    .increase-sales .stats::after {
        right: 0;
    }

    .write-us .container {
        justify-content: center;
        padding-bottom: var(--section-padding);
    }

    .write-us .container .picture {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop {
        display: none;
    }

    .landing-blob {
        top: -70px;
        left: -90px;
    }

    .companies .container {
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .companies .logos {
        flex-direction: column;
        gap: 30px;
    }

    .companies .logos .comp {
        flex-direction: column;
        align-items: stretch;
    }

    .businesses .businesses-blob {
        top: 0;
        left: -22%;
        width: initial;
    }

    .write-us-blob {
        right: -50%;
    }

    .write-us .container form {
        padding: 50px 30px;
    }
}

@media (max-width: 425px) {
    .increase-sales .container .card {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .increase-sales .card .info h1 {
        justify-content: center;
    }

    .increase-sales .stats::before {
        left: -5%;
        top: 0;
        translate: 0 -50%;
    }

    .increase-sales .stats::after {
        right: -5%;
        bottom: 0;
        translate: 0 50%;
    }
}

@media (max-width: 374px) {
    .landing-blob {
        left: -120px;
    }

    .businesses .businesses-blob {
        left: -50%;
    }

    .businesses .container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}